.container {
justify-content: center;
display: grid;
padding: 5%;
}

.semaforo {
width: 20vh;
height: 40vh;
background-color: black;
padding: 10px;
justify-content: center;
display: grid;
border-radius: 25%;
box-shadow: 3px 2px 4px 6px rgb(84, 84, 82);
}



.paloSemaforo {
    width: 3vh;
    height: 40vh;
    background-color: black;
    margin-left: 8vh;
    box-shadow: 7px 7px 7px 7px rgb(84, 84, 82);
}
.red{
    background-color: red;
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
    
}

.yellow{
    background-color: yellow;
    width: 12vh;
    height: 12vh;
    border-radius: 99%;
}

.green{
    background-color: green;
    width: 12vh;
    height: 12vh;
    border-radius: 99%;
    
}


.glow{
    box-shadow: 10px 10px 54px 45px rgba(237,236,218,1);
}